<a href="https://colab.research.google.com/github/sherlockian4869/combination_kendo/blob/main/code/combination_kendo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
%cd '/content/drive/MyDrive/python/CSV'

/content/drive/MyDrive/python/CSV

In [10]:
import pandas as pd
player = pd.read_csv('combination_kendo/python用_選手名簿.csv')

In [12]:
player.head()

    ユーザ  高校名  段位  学年
0  伊藤博文  A高校  2段  3年
1  黒田清隆  A高校  2段  3年
2  山形有朋  A高校  2段  3年
3  松方正義  A高校  2段  3年
4  大隈重信  A高校  2段  2年

In [33]:
import random
player['diary01'] = random.randint(0, 10)

In [34]:
player.tail()

     ユーザ  高校名  段位  学年  diary01
24  阿部信行  D高校  初段  1年        3
25  米内光正  E高校  2段  3年        3
26  東条英機  E高校  2段  2年        3
27  小磯邦明  F高校  2段  2年        3
28   吉田茂  G高校  2段  2年        3

In [31]:
player

      ユーザ  高校名  段位  学年  diary01
0    伊藤博文  A高校  2段  3年        0
1    黒田清隆  A高校  2段  3年        0
2    山形有朋  A高校  2段  3年        0
3    松方正義  A高校  2段  3年        0
4    大隈重信  A高校  2段  2年        0
5     桂太郎  A高校  2段  2年        0
6   西園寺公望  A高校  2段  2年        0
7   山本権兵衛  A高校  初段  1年        0
8    寺内正毅  A高校  初段  1年        0
9      原敬  A高校  初段  2年        0
10   高橋是清  B高校  2段  3年        0
11  加藤友三郎  B高校  2段  3年        0
12   清浦奎吾  B高校  2段  3年        0
13   加藤高明  B高校  2段  2年        0
14  若槻礼次郎  B高校  初段  2年        0
15   田中義一  B高校  初段  2年        0
16   浜口雄幸  C高校  2段  2年        0
17    犬養毅  C高校  2段  2年        0
18    斎藤実  C高校  2段  2年        0
19   岡田啓介  C高校  2段  1年        0
20   広田弘毅  D高校  初段  1年        0
21   林銑十郎  D高校  初段  1年        0
22   近衛文麿  D高校  初段  1年        0
23  平沼騏一郎  D高校  初段  1年        0
24   阿部信行  D高校  初段  1年        0
25   米内光正  E高校  2段  3年        0
26   東条英機  E高校  2段  2年        0
27   小磯邦明  F高校  2段  2年        0
28    吉田茂  G高校  2段  2年        0